.container{
  background-color: rgba(0, 247, 255, 0.932); 
}
.linha-vertical {
  height: 500px;/*Altura da linha*/
  border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}